<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carbon_panel/carbon.css') }}">
    <title>Carbon Manager</title>
</head>

<body>

    {% include 'header.html' %}

    <a href="" class="mini-panel">Открыть</a>

    <div class="info-container"></div>

    <div class="main-block">
        <div class="search-panel">
            <a href="javascript:searchUsers();"><img class="img-search" src="{{ url_for('static', filename='img/search32.png') }}" alt=""></a>
            <input type="text" class="search-input" name="search" placeholder="Найти пользователя..">
            <a style="margin-left: 10px;" href=""><img src="{{ url_for('static', filename='img/update32.png') }}" alt=""></a>
        </div>
        <div class="tree-container">
            {% for tr in tree %}
            <div class="folder-div">
                <div></div>
                <a id="a-{{ tr['iid'] }}" class="main-level-a" href="javascript:openChild('{{ tr['iid'] }}', 'a-{{ tr['iid'] }}');">
                    {% if tr['type'] == 'folder' %}
                    <img src="{{ url_for('static', filename='img/folder16.png') }}" alt=""> {{ tr['name'] }}
                    {% elif tr['type'] == 'server' %}
                    <img src="{{ url_for('static', filename='img/server16.png') }}" alt=""> {{ tr['name'] }}
                    {% elif tr['type'] == 'user' %}
                    <img src="{{ url_for('static', filename='img/users16.png') }}" alt=""> {{ tr['name'] }} &lt;{{ tr['login'] }}&gt;
                    {% endif %}
                    
                </a>
        
            </div>
        
            <div class="child-folder" id="{{ tr['iid'] }}">
        
                {% for child in tr['child'] %}
                <div id="-{{ child['login'] }}" style="display: flex" class="div-users">
                    <div style="height: 16px;;"><img src="{{ url_for('static', filename='img/users16.png') }}" alt=""></div>
                    <a class="users" href="javascript:clickUserButton('{{ child['iid']}}', '{{ child['login'] }}');" id="{{ child['login'] }}">
                        {{ child['name'] }} &lt;{{ child['login'] }}&gt;
                    </a>
                </div>
                {% endfor %}
        
            </div>
            {% endfor %}
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/carbon.js') }}"></script>
    <script>
        function autoOpenClient() {
            let search_input = document.getElementsByClassName('search-input')[0];
            search_input.value = '{{ login }}';
        }
        autoOpenClient();
        searchUsers('{{ login }}', is_event=false);
    </script>
</body>
</html>